<div class="blog-content">
    <div class="ui grid">
        <div class="four wide column">
            <a class="avatar avatar-link"
               href="/blog?author=<%= blog.author._id %>"
               data-title="<%= blog.author.name %> | <%= ({m: '男', f: '女', x: '保密'})[blog.author.gender] %>"
               data-content="<%= blog.author.bio %>">
                <% if(blog.author.avatar) { %>
                    <img class="avatar" src="/img/<%= blog.author.avatar %>">
                <% } else{ %>
                    <img class="avatar" src="/img/avatar.png">
                <% } %>
            </a>
        </div>

        <div class="eight wide column">
            <div class="ui segment">
                <h3><a href="/blog/<%= blog._id %>"><%= blog.title %></a></h3>
                <pre><%- blog.content %></pre>
                <div>
                    <span class="tag"><%= blog.created_at %></span>
                    <span class="tag right">
                    <span>浏览(<%= blog.pv || 0 %>)</span>
                    <span>留言(<%= blog.commentsCount || 0 %>)</span>
                        <% if (user && blog.author._id && user._id.toString() === blog.author._id.toString()) { %>
                            <div class="ui inline dropdown">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                   <div class="item"><a href="/blog/<%= blog._id %>/edit">编辑</a></div>
                                    <div class="item"><span data-id="<%= blog._id %>" class="del">删除</span></div>
                                 </div>
                             </div>
                        <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
