<div class="wrap">
<div class="blog-content">
    <div class="ui">
            <div class="ui">
                     <div class="sixteen wide column">
                        <a class="avatar avatar-link" href="/blog?author=<%= blog.author._id %>" >
                            <% if(blog.author.avatar) { %>
                                <img src="/img/<%= blog.author.avatar %>">
                                <span><%= blog.author.name %> </span>
                            <% } else{ %>
                                <img src="/img/avatar.png">
                                <span><%= blog.author.name %> </span>
                            <% } %>
                        </a>
                    </div>

                <h3><a href="/blog/<%= blog._id %>"><%= blog.title %></a></h3>
                <div class="blog-content-hide"><%- blog.content %></div>
                <br>
                <div class="article-buttom text-right">
                    <span><%= blog.created_at %></span>
                    <span>
                        <span>浏览(<%= blog.pv || 0 %>)</span>
                        <span>留言(<%= blog.commentsCount || 0 %>)</span>
                    </span>
                    
                    <div>
                        <% if (user && blog.author._id && user._id.toString() === blog.author._id.toString()) { %>
                          
                            <a class="button btn-eidt" href="/blog/<%= blog._id %>/edit">编辑</a>
                              <input class="btn-del button" type='button' value="删除" data-id="/<%= blog._id %>" id="del" onclick="del()">

                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>