<div class="wrap">
<div class="ui grid">
    <div class="sixteen wide column">
            <div class="ui minimal">
                <h3 class="ui dividing header">留言</h3>
                <% comments.forEach(function (comment) { %>
                    <div class="comment">
                    <a class="avatar" href="/blog?author=<%= comment.author._id %>">
                    <% if(comment.author.avatar) { %>
                        <img src="/img/<%= comment.author.avatar %>">
                        <span><%= comment.author.name %></span>
                    <% } else{ %>
                        <img src="/img/avatar.png">
                        <span><%= comment.author.name %></span>
                    <% } %>
                    </a>
                           
                <div class="comment-content">
                   <%- comment.content %>
                </div>
                <div class="metadata">
                    <span class="date"><%= comment.created_at %></span>
                <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
                    <input type="button" value="删除" class="btn-del button reply del_comment" data-comment-id="<%= comment._id %>">
                <% } %>
                </div>
                    </div>
                <% }) %>

                <% if (user) { %>
                    <form class="ui reply form">
                        <input id="comment-blogId" name="blogId" value="<%= blog._id %>" hidden>
                        <div class="field">
                            <textarea id="comment-content" name="content"></textarea>
                        </div>
                        <input onclick="commentSubmit()" type="button" class="ui icon button" value="留言"/>
                    </form>
                <% } %>

            </div>
        </div>
    </div>
</div>