<div class="wrap">
<div class="ui grid">
    <div class="sixteen wide column">
            <div class="ui minimal">
                <h3 class="ui dividing header">留言</h3>
                <% comments.forEach(function (comment) { %>
                    <div class="comment">
            <a class="avatar" href="/blog?author=<%= user._id %>">
                <% if(comment.author.avatar) { %>
                    <img class="avatar" src="/img/<%= comment.author.avatar %>">
                    <span><%= user.name %></span>
                <% } else{ %>
                    <img class="avatar" src="/img/avatar.png">
                    <span><%= user.name %></span>
                <% } %>
            </a>
                           
                <div>评论内容：<%- comment.content %></div>
                <div class="metadata">
                    <span class="date"><%= comment.created_at %></span>
                </div>
                <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
                        <input type="button" value="删除" class="reply del_comment" data-comment-id="<%= comment._id %>">
                <% } %>
                    </div>
                <% }) %>

                <% if (user) { %>
                    <form class="ui reply form">
                        <input id="blogId" name="blogId" value="<%= blog._id %>" hidden>
                        <div class="field">
                            <textarea id="content" name="content"></textarea>
                        </div>
                        <input id="submit" type="button" class="ui icon button" value="留言"/>
                    </form>
                <% } %>

            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        //发表评论
        $("#submit").on('click', function () {
            var blogId = $('#blogId').val()
            var content = $('#content').val()
            if (blogId && content) {
                $.ajax({
                    url: '/comments',
                    type: 'post',
                    data: {blogId: blogId, content: content},
                    success: function (r) {
                        console.log(3, r)
                        location.reload()
                    }
                })
            } else {
                alert('内容不能为空!')
            }
        });
        //删除评论
        $(".del_comment").on('click', function () {
            var commentId = $(this).attr('data-comment-id');
            $.ajax({
                url: '/comments/' + commentId + '/remove',
                type: 'get',
                data: {commentId: commentId},
                success: function (r) {
                    location.reload()
                }
            })
        });
    }
</script>
