<%- include('header') %>
<div class="wrap">
<div class="ui grid">
    <div class="sixteen wide column">
        <a class="avatar avatar-link" href="/blog?author=<%= user._id %>">
            <% if (user.avatar){ %>
                <img class="avatar" src="/img/<%= user.avatar %>">
                 <span><%= user.name %></span>
            <% }else { %>
                <img class="avatar" src="/img/avatar.png">
                <span><%= user.name %></span>
            <% } %>
        </a>
    </div>

    <div class="sixteen wide column">
        <form class="ui form segment">
            <div class="field required">
                <label>标题</label>
                <input id="blog-create-title" type="text" name="title">
            </div>
            <div class="field required">
                <label>内容</label>
                <textarea id="blog-create-content" name="content" rows="15"></textarea>
            </div>
            <input onclick="blogCreate()" id="submit" type="button" class="ui button" value="发布">
        </form>
    </div>
</div>
</div>
<%- include('footer') %>