<%- include('header') %>
<div class="wrap">
<div class="ui grid">
    <div class="sixteen wide column">
        <a class="avatar" href="/blog?author=<%= user._id %>">
            <% if (user.avatar){ %>
                <img class="avatar" src="/img/<%= user.avatar %>">
                <span><%= user.name %></span>
            <% }else { %>
                <img class="avatar" src="/img/avatar.png">
                <span><%= user.name %></span>
            <% } %>
        </a>
    </div>

    <div class="sixteen wide column">
        <form class="ui form segment">
            <div class="field required">
                <label>标题</label>
                <input id="edit-title" type="text" name="title" value="<%= blog.title %>">
            </div>
            <div class="field required">
                <label>内容</label>
                <textarea id="edit-content" name="content" rows="15"><%= blog.content %></textarea>
            </div>
            <input onclick="editSubmit()" id="edit-submit" type="button" class="ui button" value="发布">
        </form>
    </div>
</div>
</div>
<%- include('footer') %>
