<%- include('header') %>

<% if(blog.name){ %>
    <%- include('components/user-details') %>
<% } %>

<% if (blog.length >= 1) { %>

<div class="wrap">
    <% blog.forEach(function (blog) { %>
    <div class='content-hide'>
  <div class="blog-content">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui segment">
             <div class="sixteen wide column">
                <a class="avatar avatar-link" href="/blog?author=<%= blog.author._id %>">
                    <% if(blog.author.avatar) { %>
                        <img src="/img/<%= blog.author.avatar %>">
                        <span><%= blog.author.name %></span>
                    <% } else{ %>
                        <img src="/img/avatar.png">
                        <span><%= blog.author.name %></span>
                    <% } %>
                </a>
            </div>
               <h3><a class="blog-title" href="/blog/<%= blog._id %>"><%= blog.title %></a></h3>
               <div>
                    <span class="tag"><%= blog.created_at %></span>
                    <span class="tag right">
                    <span>浏览(<%= blog.pv || 0 %>)</span>
                    <span>留言(<%= blog.commentsCount || 0 %>)</span>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
    <% }) %>
<% } else { %>
    <div class="wrap">
        <h1>您还没有发表过blog</h1>
        <a href="/blog/create">快去发表您的第一篇博客吧</a>
    </div>
<% } %>
</div>

<%- include('footer') %>