<%- include('header') %>

<div class="ui grid">
    <div class="four wide column">
        <a class="avatar avatar-link"
           href="/blog?author=<%= user._id %>"
           data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
           data-content="<%= user.bio %>">
            <% if (user.avatar){ %>
                <img class="avatar" src="/img/<%= user.avatar %>">
            <% }else { %>
                <img class="avatar" src="/img/avatar.png">
            <% } %>
        </a>
    </div>

    <div class="eight wide column">
        <form class="ui form segment">
            <div class="field required">
                <label>标题</label>
                <input id="title" type="text" name="title">
            </div>
            <div class="field required">
                <label>内容</label>
                <textarea id="content" name="content" rows="15"></textarea>
            </div>
            <input id="submit" type="button" class="ui button" value="发布">
        </form>
    </div>
</div>

<%- include('footer') %>
<script>
    $(function () {
        $("#submit").on('click', function () {
            var title = $('#title').val()
            var content = $('#content').val()
            if (title && content) {
                $.ajax({
                    url: 'http://localhost:3000/blog/create',
                    type: 'post',
                    data: {title: title, content: content},
                    success: function (r) {
                        console.log(3, r)
                        if (r.status == 200) {
                            location.href = '/blog/' + r.blogId
                        } else {
                            //用户名或密码错误
                            alert(r.message)
                        }
                    }
                })
            } else {
                alert('标题或内容不能为空')
            }
        })
    })
</script>
